ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  line-height: 1.5em;

}

dl {
  margin: 0;
  line-height: 1.5em;
}

dt {
  font-weight: 600;
  line-height: 1.5em;
  margin: 0;
}

dd {
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 2rem;
}

ul {
  &.default{
    padding-left:2em;

    li::before {
      content: "• ";
      color: $insight-red;
      font-size:.8em;
      position: relative;
      left:-.15em;
      bottom:.15em;
    }
  }
}

ol {
  &.default{
    list-style-type: decimal;
    padding-left:2.8em;
  }
}
