@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
     @each $fs-breakpoint, $fs-font-size in $fs-map{
        @if $fs-breakpoint == null {
             @include make-font-size($fs-font-size);
        }
        @else {
            // If $fs-font-size is a key that exists in
            // $fs-breakpoints, use the value
            @if map-has-key($fs-breakpoints, $fs-breakpoint) {
                $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
            }
            @media screen and (min-width: $fs-breakpoint) {
                 @include make-font-size($fs-font-size);
            }
        }
    }
}
// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
    // If $fs-font-size is a list, include
    // both font-size and line-height
    @if type-of($fs-font-size) == "list" {
        font-size: nth($fs-font-size, 1);
        @if (length($fs-font-size) > 1) {
            line-height: nth($fs-font-size, 2);
        }
    }
    @else {
        font-size: $fs-font-size;
    }
}

body {
    color: $base-font-color;

    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 $small-spacing;

    font-family: $heading-font-family;
    font-size: modular-scale(1);
    line-height: $heading-line-height;
}

p {
    margin: 0 0 $p-spacing;
}

p,
span,
 {
    font-family: "freight-text-pro", serif;
    font-weight: 400;

    @include font-size($p-font-sizes);
}

ul li,
ol li,
dt,
dd, {
  font-family: "freight-text-pro", serif;

  @include font-size($p-font-sizes);
}

p span {
    font-size: 1em;
}

p a {
    padding: 0.2em 0;

    transition: background $base-duration $base-timing;

    background-image: linear-gradient(currentColor,currentColor);
    background-repeat: no-repeat;
    background-position: center bottom .3em;
    background-origin: padding-box;
    background-size: 100% 1.5px;
    text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

a {
    position: relative;

    transition: color $base-duration $base-timing;
    text-decoration: none;

    color: $insight-red;

    &:active,
    &:focus,
    &:hover {
        transition: color $base-duration $base-timing;

        color: shade($insight-red, 25%);
    }
}

hr {
    margin: $base-spacing 0;

    border-top: 0;
    border-right: 0;
    border-bottom: $base-border;
    border-left: 0;
}

.text {
    max-width: $max-text-width;
}

.text-centered {
    max-width: $max-text-width;
    margin: 0 auto;
}

.center {
    text-align: center;
}

h1 {
    font-weight: bold;

    @include font-size($h1-font-sizes);
}

h2 {
    margin-bottom: 0.5em;

    font-weight: 600;

    @include font-size($h2-font-sizes);
}

h3 {
    font-weight: 400;
    font-style: italic;

    @include font-size($h3-font-sizes);
}

h4 {
    font-weight: bold;

    @include font-size($h4-font-sizes);
}

h6 {
    margin: 0;

    text-transform: uppercase;

    color: lighten($base-font-color, 30%);

    font-weight: bold;

    @include font-size($h6-font-sizes);
}
/* standard */

pre {
    overflow: auto;

    max-width: 100%;
    margin-bottom: 2rem;
    padding: 1em;

    white-space: pre;

    background-color: $code-color;

    code {
        padding: 0;
    }
}

code {
    padding: 0.2em 0.5em;

    background-color: $code-color;

    font-family: $font-stack-inconsolata;
    font-size: 0.8em;

    p,
    span {
        font-family: $font-stack-inconsolata;
    }
}

pre code {
    border: none;
}
/* terminal */
pre.terminal {
    color: #FFF;
    border: 1px solid #000;
    background-color: #333;
}

pre.terminal code {
    background-color: #333;
}

.meta {
    color: #aaa;
}

blockquote {
    position: relative;

    padding: 1em 2em 1em 4em;

    background: $insight-red;

    font-style:italic;

    align-items:  center;

    &::before {
        position: absolute;
        top: 0.65em;
        left: 0.15em;

        display:block;

        margin: 0;

        content: "\201C";

        color: #fff;

        font-size: 5em;
    }

    h1, h2, h3, h4, h5, h6 {
      display:block;

      color: #fff;
    }

    p {
      margin:0;

      color: #fff;

      font-weight:500;
    }

    em {
      font-style: normal;
    }

    a {
      color: #fff;
      background-image: linear-gradient(currentColor,currentColor);
      background-repeat: no-repeat;
      background-position: center bottom .3em;
      background-origin: padding-box;
      background-size: 100% 1.5px;
      text-shadow: none;
      text-shadow: 3px 0 $insight-red, 2px 0 $insight-red, 1px 0 $insight-red, -1px 0 $insight-red, -2px 0 $insight-red, -3px 0 $insight-red;

      &:hover{
        color: #fff;
      }
    }
}
